{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

<!-- Load static colder for CSS -->
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
    
    <!-- Specify which style sheet should be used -->
    <link rel="stylesheet" href="{% static 'css/home_page.css' %}">
    
    <!-- We can write css here too! -->
    <style>
    
    </style>


{% endblock extra_css %}

{% block content %}

    {% load static %}

    <div class="navbar">
        <a href="/" class="navbar-left"><img src="{% static 'images/fb_icon.png' %}" alt="fribytelogo" height=80px width=80px></a>
        <div class="navbar-center link"> <a href="/" class="link">Nav1</a> </div>
        <div class="navbar-center"><a href="/" class="link">Nav2</a></div>
        <div class="navbar-center"><a href="/" class="link">Nav3</a></div>
        <div class="navbar-center"><a href="/" class="link">Nav4</a></div>
        <div class="navbar-center"><a href="/" class="link">Nav5</a></div>
        <div class="navbar-center"><a href="/" class="link">Nav6</a></div>
        <button type="signInButton" class="signInButton">Sign in</button>
    </div>

   <div class="textBox">
        <h1>{{ page.title }}</h1>
        <p>{{ page.hero_text|richtext }}</p>

    {{ page.body|richtext }}
   </div>
{% endblock content %}