{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
    <style>
        body {
            margin: 0;
        }

        .textBox {
            margin-left: 18em;
            margin-right: 18em;
            margin-top: 2em;
            margin-bottom: 10em;
        }

        .navbar {
            font-size: 1.2em;
            display: flex;
            flex-direction: row;
            background: #2F3E4E;
            height: auto;
            justify-content: center;
        }

        .navbar-left {
            color: white;
            padding: 1em;
            margin: auto;
            filter: invert(100%);
        }

        .navbar-center {
            color: white;
            margin: auto;
        }

        .signInButton {
            margin: auto;
            background-color: #FFC107;
            color: #2F3E4E;
            border: none;
            width: 8em;
            height: 2.5em;
            border-radius: 50px;
            font-size: 16px;
            cursor: pointer;
            font-family: Arial, sans-serif;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

        .signInButton:hover {
            background-color: white;
        }

        .link {
            color: white;
            text-decoration: none;
        }

        .link:hover {
            color: #FFC107;
        }



    </style>


{% endblock extra_css %}

{% block content %}

    {% load static %}

    <div class="navbar">
        <a href="/" class="navbar-left"><img src="{% static 'images/fb_icon.png' %}" alt="fribytelogo" height=80px width=80px></a>
        <div class="navbar-center link"> <a href="/" class="link">Nav1</a> </div>
        <div class="navbar-center"><a href="/" class="link">Nav2</a></div>
        <div class="navbar-center"><a href="/" class="link">Nav3</a></div>
        <div class="navbar-center"><a href="/" class="link">Nav4</a></div>
        <div class="navbar-center"><a href="/" class="link">Nav5</a></div>
        <div class="navbar-center"><a href="/" class="link">Nav6</a></div>
        <button type="signInButton" class="signInButton">Sign in</button>
    </div>

   <div class="textBox">
        <h1>{{ page.title }}</h1>
        <p>{{ page.hero_text|richtext }}</p>

    {{ page.body|richtext }}
   </div>
{% endblock content %}